
#guias{
    margin-left: 10px;
}
mat-tab-group{
    border:1px solid blue;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label{
    min-width: 130px !important;
    height: 35px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: black !important;
}

::ng-deep .mat-tab-body.mat-tab-body-active{
    display: flex;
    justify-content: center;
}

#guias h3{
    padding:5px;
    margin:0;
    text-align:center;
    border-left:1px solid blue;
    border-right:1px solid blue;
    border-top:1px solid blue;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.67);
}