
#guias{
    margin-left: 10px;
}
mat-tab-group{
    border:1px solid blue;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label{
    min-width: 130px !important;
    height: 35px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: black !important;
}

::ng-deep .mat-tab-body.mat-tab-body-active{
    display: flex;
    justify-content: center;
}